@{
    ViewData["Title"] = "Sign Up";
}

@model List<AppointmentResponse>

@* this loop allows to match up the taskid from the database and link it to the viewfile. When user wants to edit and delete it will direct to the right pages. *@

<h1>Sign Up for a Tour!</h1>

<div class="date">
    @if (ViewBag.Disable)
        {
       <a class="btn btn-primary disabled"> Previous </a>
        }
    else
       {
        <a class="btn btn-warning" asp-controller="Home" asp-action="PreviousDate" asp-route-CurrentDate="@ViewBag.CurrentDate">Previous</a>
       }
    <button class="btn btn-primary">@ViewBag.CurrentDate</button>
    <a class="btn btn-danger" asp-controller="Home" asp-action="NextDate" asp-route-CurrentDate="@ViewBag.CurrentDate">Next</a>
</div>

<h2>Reserve your spot</h2>

<div>
    @if (Model?.Count() > 0)
    {
        @if (Model.Any(i => i.Time == "1"))
        {
            <a class="btn btn-outline-secondary" disabled> 8 AM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="1"> 8 AM </a>
        }
        @if (Model.Any(i => i.Time == "2"))
        {
            <a class="btn btn-outline-secondary" disabled> 9 AM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="2"> 2 AM </a>
        }
        @if (Model.Any(i => i.Time == "3"))
        {
            <a class="btn btn-outline-secondary" disabled> 10 AM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="3"> 3 AM </a>
        }
        @if (Model.Any(i => i.Time == "4"))
        {
            <a class="btn btn-outline-secondary" disabled> 11 AM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="4"> 11 AM </a>
        }
        @if (Model.Any(i => i.Time == "5"))
        {
            <a class="btn btn-outline-secondary" disabled> 12 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="5"> 12 PM </a>
        }
        @if (Model.Any(i => i.Time == "6"))
        {
            <a class="btn btn-outline-secondary" disabled> 1 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="6"> 1 PM </a>
        }
        @if (Model.Any(i => i.Time == "7"))
        {
            <a class="btn btn-outline-secondary" disabled> 2 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="7"> 2 PM </a>
        }
        @if (Model.Any(i => i.Time == "8"))
        {
            <a class="btn btn-outline-secondary" disabled> 3 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="8"> 3 PM </a>
        }
        @if (Model.Any(i => i.Time == "9"))
        {
            <a class="btn btn-outline-secondary" disabled> 4 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="9"> 4 PM </a>
        }
        @if (Model.Any(i => i.Time == "10"))
        {
            <a class="btn btn-outline-secondary" disabled> 5 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="10"> 5 PM </a>
        }
        @if (Model.Any(i => i.Time == "11"))
        {
            <a class="btn btn-outline-secondary" disabled> 6 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="11"> 6 PM </a>
        }
        @if (Model.Any(i => i.Time == "12"))
        {
            <a class="btn btn-outline-secondary" disabled> 7 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="12"> 7 PM </a>
        }
        @if (Model.Any(i => i.Time == "13"))
        {
            <a class="btn btn-outline-secondary" disabled> 8 PM </a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="13"> 8 PM </a>
        }
    }
    else
    {
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="1"> 8 AM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="2"> 9 AM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="3"> 10 AM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="4"> 11 AM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="5"> 12 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="6"> 1 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="7"> 2 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="8"> 3 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="9"> 4 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="10"> 5 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="11"> 6 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="12"> 7 PM </a>
        <a class="btn primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-scheduledTime="13"> 8 PM </a>
    }

</div>
